<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.dduo.ans.mapper.TSentencesMapper">

    <resultMap id="BaseResultMap" type="work.dduo.ans.domain.TSentences">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="from" column="from" jdbcType="VARCHAR"/>
            <result property="hot" column="hot" jdbcType="VARCHAR"/>
            <result property="other1" column="other1" jdbcType="VARCHAR"/>
            <result property="other2" column="other2" jdbcType="VARCHAR"/>
            <result property="other3" column="other3" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,create_time,
        from,hot,other1,
        other2,other3
    </sql>

<!--    添加一条句子-->
    <insert id="add"></insert>


    <update id="setTS_hot">
        UPDATE t_sentences
        SET hot = hot + 1
        WHERE id = #{i}
    </update>

<!--    <update id="setTT_hot">-->
<!--        UPDATE t_tags-->
<!--        SET hot = hot + 1-->
<!--        WHERE id = #{i}-->
<!--    </update>-->

    <update id="setTT_hot">
        UPDATE t_tags
        SET hot = hot + 1
        WHERE id IN
        <foreach collection="tagsList" item="tag_id" open="(" separator="," close=")">
            #{tag_id}
        </foreach>
    </update>


<!--    todo 改掉join关键字的查询方法-->
    <select id="get" resultType="work.dduo.ans.model.vo.response.GetResp">
        SELECT TS.id,
               TS.content,
               TS.`from`,
               TS.hot,
               GROUP_CONCAT(TT.id SEPARATOR ',') AS tagId,
               GROUP_CONCAT(TT.name SEPARATOR ',') AS tags
        FROM t_sentences TS
                 LEFT JOIN
             t_sentence_tag TST ON TS.id = TST.sentence_id
                 LEFT JOIN
             t_tags TT ON TST.tag_id = TT.id
        GROUP BY TS.id, TS.content, TS.`from`, TS.hot
        ORDER BY RAND() -- 随机排序
            LIMIT 1; -- 只取一条数据
    </select>

    <select id="getAll"  resultType="work.dduo.ans.model.vo.response.GetAllResp" >
        SELECT * FROM t_sentences;
    </select>
    <select id="getAllTags" resultType="work.dduo.ans.model.vo.response.GetAllTagsResp">
        SELECT * FROM t_tags;
    </select>

    <select id="getAllByTags" resultType="work.dduo.ans.model.vo.response.GetAllResp">
        SELECT
            TS.id,
            TS.content,
            TS.create_time,
            TS.from,
            TS.hot,
            TS.other1,
            TS.other2,
            TS.other3,
            GROUP_CONCAT(TT.name SEPARATOR ',') AS tags
        FROM
            t_sentences TS
        LEFT JOIN
            t_sentence_tag TST ON TS.id = TST.sentence_id
        LEFT JOIN
            t_tags TT ON TST.tag_id = TT.id
        WHERE
        TT.name IN
        <foreach item="tag" collection="tagsList" open="(" separator="," close=")">
            #{tag.name}
        </foreach>
        GROUP BY
        TS.id, TS.content, TS.create_time, TS.from, TS.hot, TS.other1, TS.other2, TS.other3
    </select>

    <select id="getByTags" resultType="work.dduo.ans.model.vo.response.GetResp">
        SELECT
            TS.id,
            TS.content,
            TS.`from`,
            TS.hot,
            TT.id AS tagId,
            TT.`from` AS tagFrom,
        GROUP_CONCAT(TT.name SEPARATOR ',') AS tags
        FROM
            t_sentences TS
        LEFT JOIN
            t_sentence_tag TST ON TS.id = TST.sentence_id
        LEFT JOIN
            t_tags TT ON TST.tag_id = TT.id
        WHERE
            TT.name IN
        <foreach item="tag" collection="tagsList" open="(" separator="," close=")">
            #{tag.name}
        </foreach>
        GROUP BY
        TS.id, TS.content, TS.`from`, TS.hot
        ORDER BY RAND() -- 随机排序
        LIMIT 1; -- 只取一条数据
    </select>

</mapper>
